<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../layout/css/layout.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

</head>

<body>
    <div class="container">
        <h1>ADMIN</h1>
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="admin.html">Trang chủ</a></li>
                    <li><a href="danhsach_loaihang.html">Loại hàng</a></li>
                    <li><a href="quanly_hanghoa.html">Hàng hóa</a></li>
                    <li><a href="">Khách hàng</a></li>
                    <li><a href="">Bình luận</a></li>
                    <li><a href="">Thống kê</a></li>
                </ul>
            </nav>
        </div>
        <h2>Thêm mới loại hàng</h2>
        <form action="" class="frm-ad">
            <div class="maloai">
                <p>Mã loại :</p>
                <input type="text" placeholder="AUto number">
            </div>
            <div class="tenloai">
                <p>Tên loại :</p>
                <input type="text">
            </div>
            <div class="btn-ad">
                <button type="submit">Thêm mới</button>
                <button type="submit">Nhập loại</button>
                <a href="danhsach_loaihang.html"><input type="text" value="Danh sách" id="danhsach"></a>
            </div>
        </form>
    </div>
</body>

</html>