<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUẢN LÝ HÀNG</title>
    <link rel="stylesheet" href="css/layout.css">

</head>

<body>
    <div class="container">
        <h1>QUẢN TRỊ WEBSITE</h1>
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="admin.html">Trang chủ</a></li>
                    <li><a href="danhsach_loaihang.html">Loại hàng</a></li>
                    <li><a href="quanly_hanghoa.html">Hàng hóa</a></li>
                    <li><a href="">Khách hàng</a></li>
                    <li><a href="">Bình luận</a></li>
                    <li><a href="">Thống kê</a></li>
                </ul>

            </nav>
        </div>
        <div class="rows">
            <h1 style="background-color: aquamarine;">QUẢN LÝ LOẠI HÀNG</h1>
        </div>
        <div class="table">
            <table>
                <tr>
                    <th></th>
                    <th>MÃ LOẠI</th>
                    <th>TÊN LOẠI</th>
                    <th></th>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>0001</td>
                    <td>ĐỒNG HỒ</td>
                    <td>
                        <input type="button" value="Sửa">
                        <input type="button" value="Xóa">
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>0002</td>
                    <td>ĐỒNG HỒ</td>
                    <td>
                        <input type="button" value="Sửa">
                        <input type="button" value="Xóa">
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>0003</td>
                    <td>ĐỒNG HỒ</td>
                    <td>
                        <input type="button" value="Sửa">
                        <input type="button" value="Xóa">
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>0004</td>
                    <td>ĐỒNG HỒ</td>
                    <td>
                        <input type="button" value="Sửa">
                        <input type="button" value="Xóa">
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>0005</td>
                    <td>ĐỒNG HỒ</td>
                    <td>
                        <input type="button" value="Sửa">
                        <input type="button" value="Xóa">
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>0006</td>
                    <td>ĐỒNG HỒ</td>
                    <td>
                        <input type="button" value="Sửa">
                        <input type="button" value="Xóa">
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>0007</td>
                    <td>ĐỒNG HỒ</td>
                    <td>
                        <input type="button" value="Sửa">
                        <input type="button" value="Xóa">
                    </td>
                </tr>
            </table>
        </div>
        <div class="btn"> 
            <input type="button" value="Chọn tất cả">
            <input type="button" value="Bỏ chọn tất cả">
            <input type="button" value="Xóa tất cả danh mục đã chọn">
            <a href="admin.html"><input type="button" value="Nhập thêm"></a>
        </div>
    </div>
</body>

</html>