<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUẢN LÝ HÀNG HÓA</title>
    <link rel="stylesheet" href="css/layout.css">
</head>

<body>
    <div class="container">
        <h1>QUẢN LÝ HÀNG HÓA</h1>
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="admin.html">Trang chủ</a></li>
                    <li><a href="danhsach_loaihang.html">Loại hàng</a></li>
                    <li><a href="quanly_hanghoa.html">Hàng hóa</a></li>
                    <li><a href="">Khách hàng</a></li>
                    <li><a href="">Bình luận</a></li>
                    <li><a href="">Thống kê</a></li>
                </ul>

            </nav>
        </div>
        <div class="row">
            <div class="mahanghoa">
                <p>MÃ HÀNG HÓA</p>
                <input type="text">
            </div>
            <div class="mahanghoa">
                <p>TÊN HÀNG HÓA</p>
                <input type="text">
            </div>
            <div class="mahanghoa">
                <p>ĐƠN GIÁ</p>
                <input type="text">
            </div>
            <div class="mahanghoa">
                <p>GIẢM GIÁ</p>
                <input type="text">
            </div>
            <div class="image">
                <p>HÌNH ẢNH</p>
                <input type="file">
            </div>
            <div class="mahanghoa">
                <p>LOẠI HÀNG</p>
                <select class="sl-ophh">
                    <option value="">Chọn sản phẩm</option>
                    <option value="">giày jodan do</option>
                    <option value="">giày NIKE trắng</option>
                    <option value="">Giay Vans</option>
                </select>
            </div>
            <div class="mahanghoa">
                <p>HÀNG ĐẶC BIỆT</p>
                <th>
                    <td><input type="radio">Đặc biêt</td>
                    <td><input type="radio">Bình thường</td>
                </th>
            </div>
            <div class="mahanghoa">
                <p>NGÀY NHẬP</p>
                <input type="date" min="">
            </div>
            <div class="mahanghoa">
                <p>SỐ LƯỢT XEM</p>
                <input type="number" min="0">
            </div>
        </div>
        <div class="mota">
            <h4>MÔ TẢ</h4>
            <textarea name="" id="" cols="137" rows="10"></textarea>
        </div>
        <div class="btn"> 
            <input type="button" value="Thêm mới">
            
            <a href="admin.html"><input type="button" value="Nhập lại"></a>
            <a href="danhsach_loaihang.html"><input type="button" value="Danh sách"></a>
        </div>
    </div>
</body>

</html>